<div class="welcome-form">
    <div class="title-bar">
        Chat với nhân viên hỗ trợ
    </div>
    <br>
    <div class="user-info">
        Nhập thông tin của bạn *
    </div>

    <input type="text" placeholder="Nhập tên của bạn">
    <input type="text" placeholder="Nhập email của bạn">
    <input type="text" placeholder="Nhập số điện thoại của bạn">

    <div class="user-info">
        Thông tin bổ sung
    </div>
    <div class="custom-select">
        <select>
            <option>-- Giới tính --</option>
            <option>Anh</option>
            <option>Chị</option>
        </select>
    </div>

    <br>
    <!-- <button type="button" class="start-button" (click)="toChat()">Bắt đầu chat</button> -->
    <button class="start-button">
        <nav>
            <a routerLink="/chat-session">Bắt đầu chat</a>
        </nav>
    </button>
    
</div>
    