<div *ngIf="message.isBot; else elseBlock" class="bot-msg">
    <!-- <img [src]="message.avatar" class="avatar-style"> -->
    <!-- <i class="material-symbols-outlined md-36">support_agent</i> -->
    <span class="msg">
        {{message.content}}
    </span>
</div>
<ng-template #elseBlock>
    <div class="user-msg">
        <span class="msg">
            {{message.content}}
        </span>
        <!-- <i class="material-icons md-36">face</i> -->
        <!-- <img [src]="message.avatar" class="avatar-style"> -->
    </div>
</ng-template>